<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>controle.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleEndereco</servlet-name>
        <servlet-class>controle.ControleEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAnuncio</servlet-name>
        <servlet-class>controle.ControleAnuncio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transacao</servlet-name>
        <servlet-class>controle.ControleTransacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleLogin</servlet-name>
        <servlet-class>controle.ControleLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/cadastrarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/consultarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/alterarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/recuperarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/excluirConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEndereco</servlet-name>
        <url-pattern>/cadastrarEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEndereco</servlet-name>
        <url-pattern>/consultarEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEndereco</servlet-name>
        <url-pattern>/alterarEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEndereco</servlet-name>
        <url-pattern>/excluirEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEndereco</servlet-name>
        <url-pattern>/recuperarEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAnuncio</servlet-name>
        <url-pattern>/cadastrarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAnuncio</servlet-name>
        <url-pattern>/consultarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAnuncio</servlet-name>
        <url-pattern>/recuperarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAnuncio</servlet-name>
        <url-pattern>/alterarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAnuncio</servlet-name>
        <url-pattern>/excluirAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transacao</servlet-name>
        <url-pattern>/comprarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transacao</servlet-name>
        <url-pattern>/selecionarAnuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transacao</servlet-name>
        <url-pattern>/recuperarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleLogin</servlet-name>
        <url-pattern>/ControleLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
